{% extends "base.html" %}
{% block style %}
.screen_name {
	color:rgb(60,120,216);
	font-weight:bold;
	font-style:italic;
}
{% endblock %}
{% block body %}

<div class="row m-2 p-3">
<h3>What are twitter Bots ?</h3>
<p>
A Twitterbot (sometimes spelled "Twitter bot") is a software program that sends out automated  posts on Twitter. Most Twitterbots work simply, sending out tweets periodically or responding to instances of specific phrases in user messages. More sophisticated Twitterbots perform various tasks, such as mining and analyzing tweets in real time. Socialbots, for example, incorporate artificial intelligence (AI) and sophisticated linguistic software to convincingly replicate human interaction. 
Many Twitterbots are specialized for various purposes. Depending on what the particular purpose is, Twitterbots can be useful, informative, annoying or dangerous -- just like human tweeters. There are spambots, pornbots and bots designed to promote products, brands and political candidates -- among a great number of other possibilities. According to Ian Urbina, writing in The New York Times, on average, only 35 percent of the followers of any Twitter account are actual people. Presumably, the remaining 65 percent are Twitterbots.
</p>
<hr>
<h3>Some Examples</h3>
<ul>
<li><span class="screen_name">@NiemanLabFuego</span> finds and retweets the stories that most journalists are discussing.</li>
<li><span class="screen_name">@trackthis</span> tracks parcels for followers and sends them direct messages each time a package's location changes.</li>
<li><span class="screen_name">@EarthquakesSF</span> tweets about earthquakes in the San Francisco area in real time, using seismographic information from the USGS.</li>
<li><span class="screen_name">@Betelgeuse_3</span> responds to tweets that include the phrase "beetlejuice, beetlejuice, beetlejuice" with replies in keeping with the eponymous character from that movie.</li>
<li><span class="screen_name">@yesyoureracist</span> and <span class="screen_name">@yesyouresexist</span> seek and autorespond to racist/sexist tweets.</li>
<li><span class="screen_name">@stealthmountain</span> seeks instances of "sneak peak" and responds with a correction: I think you mean "sneak peek."</li>
<li><span class="screen_name">@anagramaton</span> finds tweets that are anagrams of each other, using the same letters combined to make different phrases.</li>
</ul>
<hr>
<h3>Some Approches we can follow</h3>
<ul>
<li>Many Twitterbots are made from intentional purpose to boost twitter campaigns.</li>
</ul>
</div>

 <button class="btn btn-outline-dark">
	<a class="nav-link" href="https://github.com/prmane03/BotDetector" target="_blank" onMouseOver="this.style.color='White'"
        onMouseOut="this.style.color='#3979DE'">
	<img src="{{url_for('static',filename='img/githublogo.png')}}" height="20px" width="20px">
	<b>Contribute</b>
	</a>
</button>
 <button class="btn btn-outline-info">
	<a class="nav-link" href="https://twitter.com/prmane03" target="_blank" onMouseOver="this.style.color='White'"
        onMouseOut="this.style.color='#3979DE'">
	<img src="{{url_for('static',filename='img/logo.png')}}" height="20px" width="30px">
	<b>Follow</b>
	</a>
</button>
 <button class="btn btn-outline-primary">
	<a class="nav-link" href="https://www.linkedin.com/in/prmane03/" target="_blank" onMouseOver="this.style.color='White'"
        onMouseOut="this.style.color='#3979DE'">
	<img src="{{url_for('static',filename='img/linkedinlogo.png')}}" height="20px" width="20px">
	<b>Connect</b>
	</a>
</button>
{% endblock %}
