{% extends "base.html" %}
{% block style %}
/* Style inputs, select elements and textareas */
input[type=text],input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

<!-- /* Style the submit button */ -->
<!-- input[type=submit] { -->
  <!-- background-color: #000000; -->
  <!-- color: white; -->
  <!-- padding: 12px 20px; -->
  <!-- border: none; -->
  <!-- border-radius: 4px; -->
  <!-- cursor: pointer; -->
  <!-- float: right; -->
  <!-- width:20%; -->
<!-- } -->

<!-- /* Style the container */ -->
<!-- .container { -->
  <!-- border-radius: 5px; -->
  <!-- background-color: #f2f2f2; -->
  <!-- padding: 20px; -->
<!-- } -->

<!-- /* Floating column for labels: 25% width */ -->
<!-- .col-25 { -->
  <!-- float: left; -->
  <!-- width: 25%; -->
  <!-- margin-top: 6px; -->
<!-- } -->

<!-- /* Floating column for inputs: 75% width */ -->
<!-- .col-75 { -->
  <!-- float: left; -->
  <!-- width: 75%; -->
  <!-- margin-top: 6px; -->
<!-- } -->

<!-- /* Clear floats after the columns */ -->
<!-- .row:after { -->
  <!-- content: ""; -->
  <!-- display: table; -->
  <!-- clear: both; -->
<!-- } -->

<!-- /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */ -->
<!-- @media screen and (max-width: 600px) { -->
  <!-- .col-25, .col-75, input[type=submit] { -->
    <!-- width: 100%; -->
    <!-- margin-top: 0; -->
  <!-- } -->
<!-- } -->
{% endblock %}
{% block body %}

<!--
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->
<div class="container mt-3">
  <form action="/contact" method="POST">
    <div class="row">
      <div class="col-4">
        <label for="name">Name</label>
      </div>
      <div class="col-8">
        <input type="text" id="name" name="name" placeholder="Your name.." required>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="email">Email</label>
      </div>
      <div class="col-8">
        <input type="email" id="email" name="email" placeholder="Your Email address.." required>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="about">Reason</label>
      </div>
      <div class="col-8">
        <select id="about" name="about" required>
			<option value="feedback">Feedback</option>
          <option value="suggestion">Suggestion</option>
          <option value="complaint">Complaint</option>
          <option value="question">Question</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="message">Message</label>
      </div>
      <div class="col-8">
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>
      </div>
    </div>
	
    <div class="row">
	<center>
     <button class="btn btn-dark" type="submit">Submit</button>
	  </center>
    </div>
	
  </form>
</div>
{% endblock %}
